@(	cform: 	Form[(Option[String], Option[String], Option[String])], 
	oc:		Option[dao.squerylorm.Campaign]=None) 

@import helper._
@import org.joda.time.DateTime
@import dao.squerylorm.{SquerylDao, User} 
@import dao.squerylorm.Charts._ 

@main(title = "BOS charts") {

@helper.form(action = routes.Application.charts) {

<fieldset>
	
	@select( 
		field = cform("user"),		
		options = options(User.selectAll.map(_.name)), 
		'_default -> "--- Choose a User ---", 
		'_label -> "" 
	)
		
	@{if (cform.value.isDefined) {
	cform.get._1.map {user=>
		select(  
			field = cform("campaign"),		
			options = options((new SquerylDao).getCampaigns(user,"Yandex").map(c=>c.network_campaign_id+" - "+c._login)), 
			'_default -> "--- Choose a Campaign ---", 
			'_label -> ""
		)	
	}.getOrElse()  			
	}
	}
			
	@{if (cform.value.isDefined) {
	cform.get._2.map {cpID=>	
  	select(  
		field = cform("bpID"),		
		options = options((new SquerylDao).getCampaign(cform.get._1.get,"Yandex",cpID.split("-")(0).filter(_.isDigit)).map{c=>
			c.bannerPhrases.map{ bp=>
				bp.id.toString+
				" - b=" + bp.banner.map(_.network_banner_id).getOrElse("-1")+
				" - ph=" + bp.phrase.map(_.network_phrase_id).getOrElse("-1")+
				" - r=" + bp.region.map(_.network_region_id).getOrElse("-1")
			}
		}.getOrElse(Nil)), 
		'_default -> "--- Choose a BannerPhrase ---", 
		'_label -> ""
		)	
	}.getOrElse()	
	}
	}
	
</fieldset>

<div class="actions">
	<input type="submit" class="btn primary" value="Choose">
</div>
}

@oc.map{c=>
<legend align="top"><h2>Charts</h2></legend>

<div id="cpCTR" align="center"></div>

<style type="text/css">  
	.chartDiv {  
    	width: 80%;  
        height: 300px;  
   	} 
   	.controlDiv {  
    	width: 80%;  
        height: 50px;  
   	}  
</style>
    
<script type="text/javascript">  
        function create_dashboardDiv(id) { 
            var div = document.createElement("div");  
            div.id = "dashboard_"+id;  
            div.setAttribute("align", "center");  
            div.style.margin = "0px auto";              

            div.appendChild(create_chartDiv(id));
            div.appendChild(create_controlDiv(id));

            //document.body.appendChild(div);
            return div
        }         
        function create_chartDiv(id) {         
            var div = document.createElement("div");  
            div.id = "chart_"+id;  
            div.className = "chartDiv";
            return div
        } 
        function create_controlDiv(id) {
            var div = document.createElement("div");  
            div.id = "control_"+id;  
            div.className = "controlDiv";
            //div.hidden = true; //for faster loading the charts we hide controls
        	return div
        } 
</script>  

<!-- CampaignPerformance CTR ------------------------------------------------------>
<script type="text/javascript">
 	google.load('visualization', '1', { packages : [ 'controls' ] });
	google.setOnLoadCallback(drawVisualization);

	function drawVisualization() {

		var uid = 'cpCTR_'+@c.id;

		$('#cpCTR').append(create_dashboardDiv(uid));	

		var dashboard = new google.visualization.Dashboard(
			document.getElementById('dashboard_'+uid));

		var control = new google.visualization.ControlWrapper({
			'controlType': 'ChartRangeFilter',
		    'containerId': 'control_'+uid,
		    'options': {
		    	// Filter by the date axis.
		    	'filterColumnIndex': 0,
		       	'ui': {
		         	'chartType': 'LineChart',
		         	'chartOptions': {
		           		//'chartArea': {'height': '20%','width': '90%'},
						'chartArea': {'width': '70%'},
		           		'hAxis': {'baselineColor': 'none'}
		         	},
		         	// Display a single series that shows the closing value of the stock.
		         	// Thus, this view has two columns: the date (axis) and the stock value (line series).
		         	'chartView': {
		           		'columns': [0, 1]
		         	},
		         	// 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
		         	'minRangeSize': 86400000
		  		}
		    }
		});

		var chart = new google.visualization.ChartWrapper({
		  	'chartType': 'LineChart',
		   	'containerId': 'chart_'+uid,
		    'options': {
			    // Use the same chart area width as the control for axis alignment.
		    	'title' : 'Campaign Performance CTR',
				'hAxis': {
					'format': 'HH:mm:ss EEE',
					'title': 'Time'
				},
				'vAxis': {
					'title': 'CTR'
				},
				'pointSize': 2
			    //'hAxis': {'slantedText': false},
			    //'vAxis': {'viewWindow': {'min': 0, 'max': 2000}},
			    //'legend': {'position': 'none'}
			}
		});

		var data = new google.visualization.DataTable();
		data.addColumn('datetime', 'Date');
	    data.addColumn('number', 'CTR search');
	    data.addColumn('number', 'CTR context');
	    data.addColumn('number', 'CTR SUM');
	    var ar = [];

	    @for(ctr <- getCampaignCTR(Some(c))) {
		  	ar.push([new Date(@ctr._1), @ctr._2, @ctr._3, @ctr._4]);
		};

		data.addRows(ar);			

		dashboard.bind(control, chart);
		dashboard.draw(data);

	} 	
</script>

<br/>

<!-- Effectiveness, Cost ------------------------------------------------------>
<script type="text/javascript">
 	google.load('visualization', '1', { packages : [ 'corechart' ] });
 	google.setOnLoadCallback(drawChart_bpAllEff);

	function drawChart_bpAllEff() {

		var uid = 'bpAllEff_'+@c.id;
		
		$('#cpCTR').append(create_chartDiv(uid));	
		
		var options = {
			// Use the same chart area width as the control for axis alignment.
		    'title' : 'Effectiveness of all BannerPhrases',
			'hAxis': {
				'title': 'BannerPhrases'
			},			
			'vAxis': {
				'title': 'Effectiveness, clicks/costs',
				'0': {'logScale': false},
                '1': {'logScale': false},
                '2': {'logScale': false}
			},			
        	'series':{
          		'0':{'targetAxisIndex':'0'},
          		'1':{'targetAxisIndex':'1'},
          		'2':{'targetAxisIndex':'1'}}
		};
		
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Phrases');
	    data.addColumn('number', 'Effectiveness');
	    data.addColumn('number', 'Clicks');
	    data.addColumn('number', 'Cost');
	    var ar = [];
	    
	    @for(eff <- getAllBannerPhraseEffectiveness(Some(c))) {
		  	ar.push(['@eff._1', @eff._2, @eff._3, @eff._4]);
		};

		data.addRows(ar);			

		var chart = new google.visualization.ColumnChart(document.getElementById('chart_'+uid));
        chart.draw(data, options);
        
	} 	
</script>

<br/>

<!-- Effectiveness, CTR - bp ------------------------------------------------------>
<script type="text/javascript">
 	google.load('visualization', '1', { packages : [ 'corechart' ] });
 	google.setOnLoadCallback(drawChart_bpAll);

	function drawChart_bpAll() {

		var uid = 'bpAll_'+@c.id;
		
		$('#cpCTR').append(create_chartDiv(uid));	
		
		var options = {
			// Use the same chart area width as the control for axis alignment.
		    'title' : 'CTR and Eff of all BannerPhrases',
			'hAxis': {
				'title': 'BannerPhrases'
			},
			'vAxis': {
				'title': 'Metrics',
				'0': {'logScale': false},
                '1': {'logScale': false}				
			},			
        	'series':{
          		'0':{'targetAxisIndex':'0'},
          		'1':{'targetAxisIndex':'1'}}
		};
		
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Phrases');
	    data.addColumn('number', 'Effectiveness');
	    data.addColumn('number', 'CTR');
	    var ar = [];
	    
	    @for(ctr <- getAllBannerPhrases(Some(c))) {
		  	ar.push(['@ctr._1', @ctr._2, @ctr._3]);
		};

		data.addRows(ar);			

		var chart = new google.visualization.ColumnChart(document.getElementById('chart_'+uid));
        chart.draw(data, options);
        
	} 	
</script>

<br/>

<!-- Effectiveness, CTR - b ------------------------------------------------------>
<script type="text/javascript">
 	google.load('visualization', '1', { packages : [ 'corechart' ] });
 	google.setOnLoadCallback(drawChart_bAll);

	function drawChart_bAll() {

		var uid = 'bAll_'+@c.id;
		
		$('#cpCTR').append(create_chartDiv(uid));	
		
		var options = {
			// Use the same chart area width as the control for axis alignment.
		    'title' : 'CTR and Eff of all Banners',
			'hAxis': {
				'title': 'Banners'
			},
			'vAxis': {
				'title': 'Metrics',
				'0': {'logScale': false},
                '1': {'logScale': false}				
			},			
        	'series':{
          		'0':{'targetAxisIndex':'0'},
          		'1':{'targetAxisIndex':'1'}}
		};
		
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'BannerIDs');
	    data.addColumn('number', 'Effectiveness');
	    data.addColumn('number', 'CTR');
	    var ar = [];
	    
	    @for(ctr <- getAllBanners(Some(c))) {
		  	ar.push(['@ctr._1', @ctr._2, @ctr._3]);
		};

		data.addRows(ar);			

		var chart = new google.visualization.ColumnChart(document.getElementById('chart_'+uid));
        chart.draw(data, options);
        
	} 	
</script>
}.getOrElse{}
} 